extends layout
block content
    .w3-top
        .w3-bar.w3-blue-grey.w3card.w3-large
            //Mudar o a que vem para redirecionar para a homepage do utilizador    
            a.w3-bar-item.w3-button.w3-hover-light-grey(href='http://localhost:3000/users/homepage/' + userData.origin_email) Home
            a.w3-bar-item.w3-button.w3-hover-light-grey(href='http://localhost:3000/users/profile/' + userData.origin_email) Perfil
            a.w3-bar-item.w3-button.w3-hover-light-grey(href='http://localhost:3000/groups') Grupos
            a.w3-text-white(style="margin-left: 360px;") MyFacebook
            a.w3-bar-item.w3-button.w3-hover-light-grey.w3-right(href='http://localhost:3000/users/logout') Logout
    script(src='/javascripts/guest_home_functions.js')
    .w3-container(style='padding:70px 16px')
        .w3-row(style='padding:30px 16px')
            .w3-col.m2
                .w3-card-4.w3-round
                    if userData.foto
                        p.w3-center
                            b.w3-text-indigo= userData.nome
                        p.w3-center
                            img.w3-circle(src= userData.foto style='height:120px;width:120px')
                        hr
                    if userData.profissao
                        p
                            i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Profissão
                            p.w3-center= userData.profissao
                    else
                        p
                            i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey.w3-center
                                | Profissão
                            p.w3-center.w3-text-grey Perfil não atualizado

                    hr
                    if userData.instituicao
                        p
                            i.fa.fa-building.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Instituição
                            p.w3-center=  userData.instituicao
                    else
                        p
                            i.fa.fa-building.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Instituição
                            p.w3-center.w3-text-grey Perfil não atualizado
                    hr
                    if userData.morada
                        p
                            i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Morada
                            p.w3-center= userData.morada
                    else
                        p
                            i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Morada
                            p.w3-center.w3-text-grey Perfil não atualizado
                    hr
                    if userData.dataAniversario
                        p
                            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Data de Nascimento
                            p.w3-center= userData.dataAniversario
                    else
                        p
                            i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                            b.w3-text-blue-grey
                                | Data de Nascimento
                            p.w3-center.w3-text-grey Perfil não atualizado
            .w3-col.m1.w3-center
                .w3-container
            .w3-col.m6.w3-center
                div.w3-card-4
                    - var nome = userData.nome
                    p.w3-xlarge.w3-text-indigo.w3-center As publicações de #{nome}
                    hr(style='border-top: 1px solid teal;')
                    //Área de filtragem
                    button.w3-btn.w3-teal(id='guest-mostrarFiltros') Mostrar área de filtragem
                    br
                    br
                    div(id='guest-filterDiv' style='display:none;').w3-card-4.w3-light-grey.w3-border
                        p.w3-large.w3-text-indigo.w3-center Filtrar publicações
                            .w3-container
                                form(method='get' action='/pubs/' + userData.email + '/filter')
                                    hr(style='border-top: 1px solid indigo;')
                                    label
                                        p.w3-text-teal Data mínima da publicação
                                    input.w3-input.w3-border(type='date' name='dataMinima')
                                    hr(style='border-top: 1px solid indigo;')
                                    label
                                        p.w3-text-teal Filtrar por hashtags
                                    each hashtag in userData.classificadores
                                        input(class="w3-check" type='checkbox' name="filtroHashtag" value=hashtag)
                                        label(for=hashtag)=hashtag
                                        t
                                        t
                                    hr(style='border-top: 1px solid indigo;')
                                    label
                                        p.w3-text-teal Filtrar por tipo de publicação
                                    div
                                        input.w3-check(type='checkbox' name='filtroTipos' value='generica')
                                        label(for='generica') genérica
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='receita')
                                        label(for='receita') receita
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='evento')
                                        label(for='evento') evento
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='eventoProfissional')
                                        label(for='eventoProfissional') Evento Profissional
                                        t
                                        t
                                        br
                                        input.w3-check(type='checkbox' name='filtroTipos' value='ideia')
                                        label(for='ideia') Ideia
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='formacao')
                                        label(for='formacao') Formação
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='desportivo')
                                        label(for='desportivo') Desportivo
                                        t
                                        t
                                        input.w3-check(type='checkbox' name='filtroTipos' value='album')
                                        label(for='album') Álbum
                                        t
                                        t
                                    hr(style='border-top: 1px solid indigo;')
                                    br
                                    input.w3-input.w3-border.w3-teal(type='submit' value='Aplicar')
                    hr(style='border-top: 1px solid teal;')
                    - var contador = 0;
                    div(id='pubsView').w3-card-4.w3-round
                        input.w3-input(type='hidden' id='guest-numPubs' value=numPubs)
                        if userPubs
                            each pub in userPubs
                                .w3-card-4.w3-round
                                    if pub.tipo == 'generica'
                                        h3
                                            b
                                                =pub.dados.generica.titulo
                                        p.w3-small
                                            =pub.dados.generica.descricao
                                        each ficheiro in pub.dados.generica.ficheiros
                                            if(ficheiro.tipo == 'img')
                                                label
                                                    a(href=ficheiro.url)
                                                        img(src=ficheiro.url style='height:120px;width:120px')
                                            else
                                                a(href=ficheiro.url)=ficheiro.nome
                                    if pub.tipo=="ideia"
                                        h3
                                            b    
                                                =pub.dados.ideia.titulo
                                        p.w3-tiny
                                            each c in pub.dados.ideia.classificadores
                                                span.w3-tag
                                                    =c
                                                span &nbsp;
                                        p.w3-small
                                            =pub.dados.ideia.descricao
                                    if pub.tipo=="receita"
                                        h3
                                            b    
                                                =pub.dados.receita.titulo
                                        p.w3-small
                                            =pub.dados.receita.textoEstruturado
                                    if pub.tipo=="evento"
                                        h3
                                            b    
                                                =pub.dados.evento.titulo
                                        p
                                            span
                                                =pub.dados.evento.dataEvento
                                            span &nbsp;
                                            span
                                                =pub.dados.evento.local
                                        p.w3-small
                                            =pub.dados.evento.descricao
                                        each convidado in pub.dados.evento.convidados
                                            p.w3-tiny
                                                =convidado
                                    if pub.tipo=="creditacao"
                                        h3
                                            b    
                                                =pub.dados.formacao.titulo
                                        p
                                            =pub.dados.formacao.creditacao
                                        p
                                            =pub.dados.formacao.instituicao
                                        p.w3-small
                                            =pub.dados.formacao.descricao  
                                    if pub.tipo=="eventoProfissional"
                                        h3
                                                    b    
                                                        =pub.dados.eventoProfissional.titulo
                                        p.w3-small
                                            =pub.dados.eventoProfissional.dataEvento
                                        p.w3-small
                                            =pub.dados.eventoProfissional.local
                                        p.w3-small
                                            =pub.dados.eventoProfissional.descricao
                                        p.w3-small Oradores: 
                                            =pub.dados.eventoProfissional.oradores
                                        each ficheiro in pub.dados.eventoProfissional.ficheiros
                                            if(ficheiro.tipo == 'img')
                                                label
                                                    a(href=ficheiro.url)
                                                        img(src=ficheiro.url style='height:120px;width:120px')
                                            else
                                                a(href=ficheiro.url)=ficheiro.nome
                                        

                                    if pub.tipo=="album"
                                        h3
                                                b    
                                                    =pub.dados.album.titulo
                                        p.w3-small
                                            =pub.dados.album.descricao
                                        each foto in pub.dados.album.fotos
                                            label
                                                p.w3-tiny
                                                    =foto.dataFoto
                                                a(href=foto.foto)
                                                    img(src=foto.foto style='height:120px;width:120px' )
                                                p.w3-tiny
                                                    =foto.local  
                                            
                                    if pub.tipo=="desportivo"
                                        h3
                                            b    
                                                =pub.dados.desportivo.titulo
                                        p.w3-small
                                            =pub.dados.desportivo.atividade
                                        p.w3-small
                                            =pub.dados.desportivo.duracao
                                        p.w3-small
                                            =pub.dados.desportivo.descricao
                                        each foto in pub.dados.desportivo.fotos
                                            label
                                                a(href=foto)
                                                    img(src=foto style='height:120px;width:120px')
                                        hr
                                        a(href=pub.dados.desportivo.ficheiro_gpx) GPX
                                        
                                    p.w3-tiny
                                        each c in pub.classificacoes
                                            span.w3-tag.w3-yellow
                                                a(href=c.url)=c.nome
                                            span &nbsp;
                                    p.w3-tiny Publicado em 
                                        =pub.data
                                    .w3-card-4.w3-round(id='guest-comentarios-card'+contador style='display:none')
                                        div(id='guest-comentarios-card-comments' + contador)
                                            each c in pub.comentarios
                                                p.w3-small
                                                    b
                                                        =c.origin_email
                                                        b  :
                                                    =c.comentario
                                                hr
                                        hr(style="border-top: 1px solid black;")
                                        input.w3-input(type='hidden' id='guest-useremail' value= userData.email)   
                                        form(id='guest-comentariosForm'+contador)
                                            input.w3-input(type='hidden' id='guest-idpub' name='idpub' value=pub._id)
                                            input.w3-input(type='hidden' id='guest-emailUser' value= userData.origin_email)
                                            .w3-container
                                                .w3-row
                                                    .w3-col.m11
                                                        textarea.w3-input.w3-border(style='height:100px;' type='text' id='guest-comentario' name="comentario" placeholder="Comenta aqui")
                                                    .w3-col.m1   
                                                        button.w3-btn.w3-circle.w3-blue-grey.w3-tiny(id='guest-comentar'+contador value=contador) >
                                    button.w3-btn.w3-block.w3-blue-grey.w3-tiny(id='guest-comentarios'+contador name=contador value=contador) Ver comentários
                                        - contador = contador + 1
                                        // comentários aqui
                                            

                        else
                            .w3-card.w3-round
                                p.w3-text-grey Ainda não tem nenhuma publicação!
            .w3-col.m1.w3-center
                .w3-container
            .w3-col.m2.w3-center
                .w3-card-4
                    input(type='text' id='favoriteNome' value=userData.nome hidden)
                    input(type='text' id='favoriteEmail' value=userData.email hidden)
                    if   isFavorito
                        button.w3-btn.w3-teal(id='addToFavorites') Remover dos favoritos
                    else 
                        button.w3-btn.w3-teal(id='addToFavorites') Adicionar aos favoritos
        //A partir do clique do botão o email do guest user tem que ser adicionado aos favoritos do user
        //Outra row com os dados do perfil e por aí fora
        //Uma row tem a foto do utilizador, o nome, 
        